<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Group 18 | 158335</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
<div id="wrapper">

<header><h1>WaterWorks - Cloud Irrigation System</h1>
</header>
<ul id="navlist">
<li><span class="current">Home</span></li>
<li><a href="about_us.html">About us</a></li>
<li><a href="services.html">Services</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="estimate.html">Estimate</a></li>
<li><a href="contact_us.html">Contact us</a></li>
<li><a href="index.html">Site Map</a></li>
</ul>

<article>
<h2 class="title">WaterWorks Irrigation System - Cloud Computing Project</h2>
<p class="copy"><img src="article.jpg" height="100" width="100" title="networking" alt="Networking Image">
Some text here describing the project and its purpose</p>
</article>
<aside><h2 class="title">Links</h2>
	<p><a href="https://github.com/chadilss/CloudComputing_Group18">Github Repository</a></p>

</aside>
<footer><p id="copyright">Designed by Group 18 | Massey University ST_ID#16151947, 11062008, 96066910 | 158.335 (2018 S1)</p></footer>
</div>


</body>
</html>
