<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Group 18 | 158335</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div id="wrapper">

<header><h1>WaterWorks - Cloud Irrigation System</h1>
</header>
<ul id="navlist">
<li><span class="current">Home</span></li>
<li><a href="https://github.com/chadilss/CloudComputing_Group18">Github Repository</a></li>
<li><a href="https://www.massey.ac.nz/massey/learning/programme-course/course.cfm?paper_code=158335">Course Page</a></li>
<li><a href="gallery.html">Gallery - add l8r</a></li>
</ul>

<article>
<h2 class="title">WaterWorks Irrigation System - Cloud Computing Project</h2>
<div class="container">
	    <form action="/sprinkler_ctrl" method="POST">
	    &nbsp;&nbsp;&nbsp;&nbsp;<p>
		<input type="submit" name="SPRINKLER" value="ON">
		&nbsp;&nbsp;&nbsp;&nbsp;
	   	<input type="submit" name="SPRINKLER" value="OFF">
	    </p>
	    </form>
</div>
</article>
<footer><p id="copyright">Designed by Group 18 | Massey University ST_ID#16151947, 11062008, 96066910 | 158.335 (2018 S1)</p></footer>
</div>


</body>
</html>
